<nav class= "dropdownmenu">
  <ul>
  <li> <a href="#"> INICIO </a>
    <ul class="submenu">
    <li> <a href="#"> Misión</a></li>
    <li> <a href="#"> Visión</a></li>
    <li> <a href="#"> Objetivo</a></li>
    </ul>
  </li>
  <li> <a href="#"> NOSOTROS</a></li>
  <li><a href="#"> NUESTROS PRODUCTOS</a>
    <ul  class="submenu">
    <li> <a href="#"> Café</a></li>
    <li> <a href="#"> Tinto</a></li>
    <li> <a href="#"> Arómaticas</a></li>
    </ul>
  </li>
  <li><a href="#"> VISITENOS</a></li>
  <li><a href="#"> PRQS</a></li>
  </ul>	
</nav>
